<html>
    <head>
        <title>
            {{page.title}}
        </title>
    </head>
    <body style="background-color:#83b0c5;font-family: Verdana, Geneva, Tahoma, sans-serif;">
        <p style="text-align: center;color: green;">This Blog post is Posted on {{page.date}}</p>
        <h1 style="color: maroon;text-align: center;">{{page.title}}</h1>
        {{page.content}}
        <pre>
        <a href="{{page.next}}">Next Post</a>       <a href="{{page.previous}}">Previous Post</a>     <a href="jagadeesh432.github.io/JagadishBlogPosts">Home Page</a>
        </pre>
    </body>
</html>
